/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*全域*/
.wrap{
    width:1024px;
    margin:0 auto;}

a{text-decoration: none;}

/*社群連結*/
.social-link{
    display:flex;
    justify-content: flex-end;background: #f6f6f6;}

.social-link .facebook{margin-right:20px;}
.social-link .facebook a{color:#4267B2;}
.social-link .facebook:hover{border-bottom:2px solid #4267B2}
.social-link .twitter a{color:#1DA1F2}
.social-link .twitter:hover{border-bottom:2px solid #1DA1F2}
.social-link a img{margin-right:5px;}
.social-link a{display:block;padding:10px 10px}

/*首頁*/
.header {display:flex;justify-content: space-between;height:76px;
	
}
.header h1{padding-top:18px;}
.header h1 a{
	background-image:url(../htmlcsswindows/images/logo.png);
	background-repeat:no-repeat;
	width:170px;
	height:36px;
	display:block;
	text-indent:101%;
	overflow:hidden;
	white-space: nowrap;
}

.header ul{display:flex;line-height:76px;}
.header a{margin-right:20px;color:#00251A;font-weight:700px;}
.header a:hover{border-bottom:2px solid #00CC99;color:#00CC99;font-weight:700;}

/*banner*/
.banner{background-image:url(../htmlcsswindows/images/banner.png);
	background-repeat:no-repeat;background-size:cover;height:350px;
align-items:center;display:flex;}

.banner h2{color:white;background:rgba(0, 0, 0, 0.2);display:block;
width:1024px;line-height:1.3;padding:40px 0 40px 20px;font-size:34px;
font-weight:700;}

/*課程內容*/
.course{display:flex;justify-content:space-between;margin:40px 20px;}
.course-list{width:300px;box-sizing: border-box;padding:20px;border:1px solid #d6d6d6;border-radius:5px;
display:flex;flex-direction:column;box-shadow: 0px 1px 5px #dbdbdb;}
.course-img{width:100%;height:135px;margin-bottom:20px;align-items:center;display:flex;justify-content:center;}

.course-info h3{font-size:24px;font-weight: 700;text-align:center;}

.course-info p{line-height:1.4;margin-top:12px;}

.jQuery-feature{list-style:disc;padding-left:20px;}

.jQuery-feature li{line-height:1.4;}

/*表格*/
.difference-table{align-items:center;padding:20px;display:flex;flex-direction:column;
margin-bottom:40px;}

.difference-table h3{font-size:24px;margin-bottom:24px;font-weight:700;}

.difference-table table thead tr{border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC}

.difference-table table thead tr th{font-weight:700;font-size:16px;padding:15px 25px;text-align:left;
background-color:#f7f7f7;}

.difference-table table tbody tr{border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC}

.difference-table table tbody tr td{font-size:16px;padding:15px 25px;}

.difference-table table tbody tr:hover{background-color:#f5fffa;}

.highlight{color:#00cc99;font-weight:600;}

/*表單*/
.contact-form{background:linear-gradient(#00654c, #009670);
	padding:40px 20px;
}
.contact-form h3{text-align:center;font-size:24px;font-weight:700;color:white;
line-height:28.8px;margin-bottom:28px;}

form{display:flex;justify-content: center;}

form textarea{margin-right:24px;border-radius:5px;resize:none;}
form textarea:focus-visible{outline:2px solid #00dca5}

.info-box{display:flex;flex-direction:column;}
.info-box label{color:white;font-size:16px;font-weight:600;margin-bottom:5px;}
.info-box input{width:350px;height:28px;margin-bottom:15px;border-radius:5px;border:none;}

.info-box input:focus-visible{outline:2px solid #00dca5}
.info-box button{background-color:#00cc99;border-radius:5px;color:white;
border:none;padding:8px 18px;font-weight:700;cursor:pointer;width:100px;align-self:flex-end;}

.info-box button:hover{background-color:#00c191;}

/*頁尾*/
.footer{display:flex;justify-content:space-between;padding:20px;
	background:#f6f6f6}

.footer h1 a{background-image:url(../htmlcsswindows/images/footerlogo.png);
width:170px;height:36px;display:block;text-indent:101%;white-space:nowrap;
overflow:hidden;}

.footer ul{line-height:1.2;}
.footer ul li a{color:#00c191;}
.footer ul li a:hover{border-bottom:1px solid #00c191}